h2
{
	color: #999999;
	font-size: 17pt;
	font-family: "bean_poleregular";
}

h3
{
	color: #999999;
	font-size: 12pt;
	font-weight: bold;
}

.header
{
	background-color: #ACD1E9;
	margin-bottom: 40px;
	width: 100%;
	padding-top: 65px;
}

.header_main_image
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar_item
{
	font-size: 16pt;
	font-family: "bean_poleregular";
}

.navbar_container
{
	background-color: #CCCCCC;
}

.navbar_menu_items
{
	width: 665px; 
	margin-left: auto; 
	margin-right: auto;
}

.navbar_link
{
	color: white;
}

.body_container
{
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: #706e67;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.flower_heading
{
	color: #C0C0C0;
	font-size: 20pt;
	font-family: "bean_poleregular";
	padding-bottom: 15px;
	margin-top: 25px;
}

.polaroid
{
	border-width: 1px;
	border-style: solid;
	border-color: #EBEBEB;
	padding: 10px;
	margin: 15px;
	background-color: white;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  	-webkit-transform: rotate(1deg);
  	-moz-transform: rotate(1deg);
}

.flight_table
{
	margin-top: 25px;
	margin-bottom: 25px;
}

.directions_box
{
	margin-top: 15px;
	width: 550px;
	padding: 5px;
	background-color: #DDDDDD;
	border-radius: 5px;
}

.train_box
{
	margin-top: 15px;
	margin-bottom: 25px;
	width: 550px;
	padding: 5px 0px 5px 5px;
	background-color: #DDDDDD;
	border-radius: 5px;
}

.train_box_row
{
	margin: 0px
}

.train_box_col
{
	padding: 0px 5px 0px 0px;
}

.footer_padding
{
	margin-top: 100px;
}

a:hover 
{
	color:#ACD1E9;
}

